 * {
  box-sizing: border-box;
}

body {
  height: 100vmin;
  margin: 0;
}

header {
  font-size: 30px;
} 

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.grid {
  align-items: center;
   
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 50vmin;
  width: 50vmin;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color:white;
} 

.grid div.square {
  background-color: black;
}

